h1 {
    color: blueviolet;
font-family: m;
}

#content {
    width: 600px;
    border: 1px solid darkblue;
    margin: auto;
    padding: 50px;
    background-color: #eee;

}
p {
    text-align: justify;
}
.portre{
    width: 150px;
    float: left;
    margin-left: 20px;
}
